.Toolbar{

    width: 100%;
    position: fixed;
  border: 1px solid skyblue;
    background-color: black;
    color: white;
  border-radius: 8px;
  height: 56px;
  display: flex;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;

}

.Toolbar nav {
    height: 100%;
}

.Logo{
  height: 80%;
}


@media(max-width: 499px){
  .DesktopOnly {
    display: none;
  }
}